{% extends 'base_generic.html' %}
<!-- Extiende de la plantilla base_generic.html, heredando su estructura y estilo básico -->

{% block content %}
<!-- Comienza un bloque de contenido denominado 'content' -->

<div class="container mt-5 text-center">
  <!-- Contenedor de Bootstrap con margen superior (mt-5) y centrado de texto -->

  <h2 style="font-size: 2.5rem;">¡Gracias por tu mensaje!</h2>
  <!-- Encabezado de nivel 2 con tamaño de fuente grande -->

  <p style="font-size: 1.5rem;">Nos pondremos en contacto contigo pronto.</p>
  <!-- Párrafo con tamaño de fuente grande -->

</div>

{% endblock %}
<!-- Finaliza el bloque de contenido 'content' -->

