{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Contactos Recibidos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleslista.css' %}">
</head>
<body>
    {% block content %}
    <div class="content-container">
        <h1>Contactos Recibidos</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Mensaje</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.email }}</td>
                    <td>{{ contacto.mensaje }}</td>
                    <td>
                        <a href="{% url 'contacto_detalle' contacto.pk %}" class="btn-action ver">Ver</a>
                        <a href="{% url 'contacto_editar' contacto.pk %}" class="btn-action editar">Editar</a>
                        <a href="{% url 'contacto_eliminar' contacto.pk %}" class="btn-action eliminar" onclick="return confirm('¿Estás seguro de eliminar este contacto?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>