{% extends 'base_generic.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesdeta.css' %}">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="contact-detail-container">
            <h2>Detalle del Contacto</h2>
            <p><strong>Nombre:</strong> <span>{{ contacto.nombre }}</span></p>
            <p><strong>Email:</strong> <span>{{ contacto.email }}</span></p>
            <p><strong>Mensaje:</strong> <span>{{ contacto.mensaje }}</span></p>
            <div class="btn-container">
                <a href="{% url 'contacto_editar' contacto.pk %}" class="btn btn-primary">Editar</a>
                <form method="POST" action="{% url 'contacto_eliminar' contacto.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <a href="{% url 'contacto_lista' %}" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>

