{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca Digital{% endblock %}</title>
    <!-- Cargar hojas de estilo -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylescarrito.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylesdeta.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesedi.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleslista.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleslogin.css' %}">  
    <link rel="stylesheet" href="{% static 'css/stylescarrito.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylescompra.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleslogout.css' %}">
    <!-- Puedes agregar aquí otros metadatos, estilos y scripts -->
</head>
<body>
    <!-- Contenido de la página -->
    {% block content %}
    {% endblock %}

    <!-- Scripts adicionales -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>
